body {
    font-family: Roboto, sans-serif;
        color: rgba(67, 68, 85, 1);
        background-color: var(--WHITE, #FFFFFF);
}
:root {
    font-family: Roboto, sans-serif;
    color: rgba(67, 68, 85, 1);
    background-color: var(--WHITE, #FFFFFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 150%;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
}
.list {
    list-style: none;
    background: var(--WHITE, #FFF);
    display: flex;
}

.link {
    text-decoration: none;
    color: var(--SLATE, #434455);
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link:hover {
    color: var(--SLATE, #434455);
}

.link:focus {
    color: var(--SLATE, #434455);
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.addresslist{
    gap: 40px;
}
.nav-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.nav-span {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.menu{
    display: flex;
    gap: 40px;
}
.pages {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    margin-left: 0;
    margin-right: 0;
    padding: 24px 0;
    display: flex;
    gap: 40px;
}

.pages:hover {
    color: var(--OCEAN, #404BBF);
}

.pages:focus {
    color: var(--OCEAN, #404BBF);
}

.contacts {
    color: var(--SLATE, #434455);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.32px;
    margin-left: 0;
    margin-right: 0;
}

.contacts:hover {
    color: var(--OCEAN, #404BBF);
}

.contacts:focus {
    color: var(--OCEAN, #404BBF);
}

.top-html {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding: 188px 0;
}

.top-html:focus {
    background-color: var(--OCEAN, #404BBF);
}

.top-heading {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.order-button {
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.order-button:hover {
    color: var(--OCEAN, #404BBF);
    background-color: #404bbf;
    cursor: pointer;

}

.order-button:focus {
    color: var(--OCEAN, #404BBF);
    background-color: #404BBF;
}
.first-html{
    padding: 120px 0;
}
.first-html-list{
    display: flex;
    gap: 24px;
}
.first-point-one{
    width: calc((100% - 72px) / 4);
}   

.third-html {
    background-color: var(--CLOUD, #F4F4FD);
    padding: 120px 0;
    gap: 24px;
}
.third-heading{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;

}
.third-html-list{
    display: flex;
    gap: 24px;
}

.images-list {
    background: var(--WHITE, #FFF);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.employees{
    padding: 32px 0px;

}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.buttons {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    padding: 12px 24px;
    border-radius: 4px;

}

.buttons:hover {
    background: var(--OCEAN, #404BBF);
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    cursor: pointer;
    border: 1px solid transparent;
}

.buttons:focus {
    background: var(--OCEAN, #404BBF);
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    cursor: pointer;
    border: 1px solid transparent;
}

.portfolio-images-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;    
}
.offers{
    width: calc((100% - 48px) / 3);
}

.offer-container{
    
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.second-html{
    padding-bottom: 120px;
}
.second-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.second-html-list{
    display: flex;
    gap: 24px;

}

.second-point-one{
    width: calc((100% - 48px) / 3);
}

.third-header {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.paragraph {
    font-size: 16px;
}
.paragraph-employee{
    font-size: 16px;
    text-align: center
}
.portfolio-section-one{
    padding: 96px 0 120px 0
}
.portfolio-image-link:hover {
    color: var(--OCEAN, #404BBF);
}

.portfolio-image-link:focus {
    color: var(--OCEAN, #404BBF);
}

.portfolio-second-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.paragraph-link-portfolio {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
}

.footer-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-span {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    background-color: var(--NAVY-BLUE, #2E2F42);
    max-width: 264px;
}

.navigation{
    display: flex;
    align-items: center;
}